table.matrix-field-table td:first-child {
  display: flex;
}

.matrix-field-preview {
  background-color: #eee;
}
.matrix-field-divider-top {
  border-bottom: none;
}
.matrix-field-divider-bottom {
  border-top: 1px dotted #ccc;
}
